<div class="categories" align="center" style="background-color: pink">
<% @categories.each do |category| %>
  <h4 style="border: 1px solid black; width: 300px; text-align: center; background-color: white"><%= link_to category.title, category_path(category) %></h4>
<% end %>
</div>

<table style="width:100%">
  <% @items.each do |item| %>
    <% if item.inventory > 0 %>
      <tr>
        <th style="border: 1px solid black">Item</th>
        <th style="border: 1px solid black">Price</th>
        <th style="border: 1px solid black">Purchase</th>
      </tr>
        <td><%= item.title %></td>
        <td><%= number_to_currency(item.price.to_f/100) %></td>
        <td><%= button_to 'Add to Cart', line_items_path(item_id: item) %></td>
      </tr>
    <% end %>
  <% end %>
</table>


<% if @user && @user.current_cart %>
  <%= link_to "Cart", cart_path(@user.current_cart)  %>
<% end %>
